
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'portals/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'portals/assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   Soin Veterinary Services
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.3/css/dataTables.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="{% static 'portals/assets/js/core/jquery.min.js' %}"></script>
  <!-- CSS Files -->
  <link href="{% static 'portals/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'portals/assets/css/calendar.css' %}" rel="stylesheet" />
  <link href="{% static 'portals/assets/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'portals/assets/css/modal.css' %}" rel="stylesheet" />
  <link href="{% static 'portals/assets/css/now-ui-dashboard.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Theme style -->
  <link href="{% static 'portals/assets/css/adminlte.css' %}" rel="stylesheet" />
  

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.4/dist/bootstrap-table.min.css" rel="stylesheet">

<!-- Include Bootstrap CSS here -->


  
</head>
<body style="font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
  <style>
    body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto;
     font-size: 16px; /* Allow vertical scrollbar */
}
  </style>


<div>
  {% if messages %}
      {% for message in messages %}
      <div id="alertMessage" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <script>
        // Add JavaScript to close the alert after 5 seconds
        window.onload = setTimeout(function() {
          document.getElementById('alertMessage').classList.add('fade');
        }, 5000);
      </script>
      {% endfor %}
  {% endif %}
</div>

{% block content %}



{% endblock %}

</body>
</html>