{% extends 'vet/base.html'  %}

{% load static %}

{% block content %}

<div class="container">

    <div class="form-group">
        <a href="{% url 'sick-approach' %}">
            <button class="btn btn-primary">Approach To Sick Animals</button>
        </a>    
    </div>

    <div class="form-group">
        <a href="{% url 'dead-approach' %}">
            <button class="btn btn-primary" type="submit">Approach To Dead Animals</button>
        </a>
    </div>

    <div class="form-group">
        <a href="{% url 'surgical-approach' %}">
            <button class="btn btn-primary" type="submit">Approach To Surgical Operations</button>
        </a>
    </div>

</div>


{% endblock content %}