{% extends 'portals/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} SoinVet|Home {% endblock %}

{% block content %}

<!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    {% include 'portals/sidebarFarmer.html' %}
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
<!-- =============================================== -->
                

    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <form class="user" method="POST">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                      <p class="alert-danger">{{ non_field_error }}</p>
                    {% endfor %}

                   {% for field in form %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{error}}</p>
                          </div>
                        {% endfor %}
                      {% endif %}
                   {% endfor %}
                   
                   {{form|crispy}}
                   
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit Details</button>
                  </div>
                  </form>
            </div>
         </div>   
    </section> 

{% endblock content %}    