{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
 
<div class="page-wrapper chiller-theme ">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="{% url 'farmer-portal' %}">Farmer Dashboard</a>
        <div id="close-sidebar">
          <i class="fas fa-times fa-lg"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="{% static 'portals/assets/img/user.png' %}"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>{{request.user}}</strong>
          </span>
          <span class="user-role">Farmer</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>My Records</span>
             
            </a>
            <div class="sidebar-submenu">
              <ul>
                
                 <li>
                  <a href="{% url 'dead_animal' %}">Dead Animal Registration </a>
                  </a>
                <li/>
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'calving-record' %}">Calving</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'calf' %}">Calf Registration</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'new_animal' %}">Register new animal</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'livestock' %}">Livestock Inventory Form</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'culling' %}">Culling</a>
                </li>
                
                <li>
                  <a href="{%url 'employees'%}">Employees</a>
                </li>
                
               
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-list"></i>
              <span>Vet List</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="{% url 'vet-list' %}">All Vets</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-clipboard"></i>
              <span>Vet Records</span>
             
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'ai-view'%}">AI Records </a>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'deworming-view'%}">Deworming Records</a>
                  </a>
                </li>
                
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'consultation-view'%}">Farm Consultation Records</a>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'postmortem-view'%}">Post Mortem Records</a>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'pregnancy-view'%}">Pregnancy Diagnosis Record</a>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'referral-view'%}">Referral Records</a>
                  </a>
                </li>
    
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'surgery-view'%}">Surgery Records</a>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'clinical-view'%}">Clinical Records</a>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="font-weight: bold;" href="{% url 'vaccination-view'%}">Vaccination Records</a>
                  </a>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                      <i class=""></i>
                      <span >Laboratory Serivces</span>
                  </a>
                  <div class="sidebar-submenu">
                      <ul>
                        <li>
                          <a class="dropdown-item" style="font-weight: bold;" href="{% url 'collection-view'%}">Sample Collection</a>
                        </li>
                        <li>
                          <a class="dropdown-item" style="font-weight: bold;" href="{% url 'processing-view'%}">Sample Processing</a>
                        </li>
                      </ul>
                  </div>
              </li> 
                
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                      <i class=""></i>
                      <span >Veterinary Bills</span>
                  </a>
                  <div class="sidebar-submenu">
                      <ul>
                        <li>
                          <a style="font-weight: bold;" href="{% url 'invoiceview'%}">Invoice</a>
                        </li>
                        <li>
                          <a style="font-weight: bold;" href="{% url 'vet-billing-view'%}">Receipt</a>
                        </li>
                      </ul>
                  </div>
              </li> 
              </ul>
            </div>
          </li>
          
   
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-graduation-cap"></i>
              <span>Learning Resources</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a style="font-weight: bold;" href="#">Videos And Tutorials </a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{% url 'notes' %}">PDF NOTES</a>
                </li>
                 <li>
                  <a style="font-weight: bold;" href="#">Test Your Knowlegde</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-link"></i>
              <span>Quick Links</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a style="font-weight: bold;" href="https://agritech.tnau.ac.in/expert_system/cattlebuffalo/Calf%20management.html">Calf Management Experts</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="https://agritech.tnau.ac.in/animal_husbandry/animhus_cattle_care&management.html">Animal Husbandry Experst</a>
                </li>
                 <li>
                  <a style="font-weight: bold;" href="https://mkulimatoday.com/">Mkulima Today</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="https://practicaldairytrainingcentre.com/#:~:text=Dairy%20Management%20Course,and%20more">Practical Dairy</a>
                </li>
                
                <li>
                  <a style="font-weight: bold;" href="https://www.infonet-biovision.org/">Infonet Biovision</a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-tint"></i>
              <span>Milk records</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a style="font-weight: bold;" href="{% url 'lactation' %}">Lactating Cows</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{% url 'milk-record' %}">Daily Milk Records</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{% url 'weekly-record' %}">Weekly Milk Records</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{% url 'monthly-record' %}">Monthly Milk Records</a>
                </li>
               
              </ul>
            </div>
          </li>
           
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-chart-line"></i>
              <span>Monitoring</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a style="font-weight: bold;" href="{% url 'heat_sign_monitoring' %}">Heat Signs Monitoring</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{% url 'pregnancy_monitoring' %}">Pregnancy Monitoring</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-coins"></i>
              <span>Source Of Income</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a style="font-weight: bold;" class="dropdown-item" href="{% url 'animal_sales' %}">Sales Of Stock</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{%url 'sales_of_milk'%}">Sales Of Milk</a>
                </li>
                
              </ul>
            </div>
          </li>
          {% comment %} <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-chart-line"></i>
              <span>Veterinary Bills</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                
                </ul>
              </div>
            </li> {% endcomment %}
                
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-money-check-alt"></i>
              <span>Expenses</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a style="font-weight: bold;" href="{%url 'bills'%}">My Bills</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{%url 'archaricides'%}">Acaricides</a>
                </li>
                <li>
                  <a  style="font-weight: bold;" href="{%url 'hygiene'%}">Dairy Hygiene</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{%url 'salaries'%}">Salaries</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{%url 'feeds'%}">Dairy Feeds</a>
                </li>
               
                <li>
                  <a style="font-weight: bold;" href="{%url 'dairy_equipment'%}">Dairy Equipment</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{%url 'drugs'%}">Veterinary Drugs</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{%url 'minerals'%}">Livestock Minerals</a>
                </li>
                <li>
                  <a style="font-weight: bold;" href="{%url 'insurance'%}">Livestock Insurance</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="">
            <a href="{%url 'logout'%}">
              <i class="fa fa-power-off" style="font-size:28px;color:red"></i>

              <span>Logout</span>
            </a>
          </li>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
    
  </nav>
  <!-- sidebar-wrapper  -->
  
