{% load static %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="page-wrapper chiller-theme">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>

  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="{% url 'farmer-portal' %}">Farmer Dashboard</a>
        <div id="close-sidebar">
          <i class="fas fa-times fa-lg"></i>
        </div>
      </div>

      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="{% static 'portals/assets/img/user.png' %}" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name" style="font-weight: bold;">
            <strong>{{request.user}}</strong>
          </span>
          <span class="user-role" style="font-weight: bold;">Farmer</span>
          <span class="user-status" style="font-weight: bold;">
            <i class="fa fa-circle"></i>
            <span style="font-weight: bold;">Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header -->

      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span style="font-weight: bold;">General</span>
          </li>

          <!-- Animal Records -->
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-list"></i>
              <span style="font-weight: bold;">Farm Records</span>
            </a>
            <div class="sidebar-submenu">
              <ul>

                <!-- 1. Dairy Production Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Dairy Production</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'calving-record' %}">Calving</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'calf' %}">Calf Registration</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'new_animal' %}">Register new animal</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'livestock' %}">Livestock Inventory Form</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'culling' %}">Culling</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'dead_animal' %}">Dead Animal Registration</a></li>

                      <li class="sidebar-dropdown">
                        <a href="#">
                          <span style="font-weight: bold;">Approved Dairy Farms</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a style="font-weight: bold;" href="{% url 'approved-dairy-farms' %}">Approved Farms</a></li>
                          </ul>
                        </div>
                      </li>

                      <li class="sidebar-dropdown">
                        <a href="#">
                          <span style="font-weight: bold;">Milk records</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a style="font-weight: bold;" href="{% url 'lactation' %}">Lactating Cows</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'milk-record' %}">Daily Milk Records</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'weekly-record' %}">Weekly Milk Records</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'monthly-record' %}">Monthly Milk Records</a></li>
                          </ul>
                        </div>
                      </li>

                      <li class="sidebar-dropdown">
                        <a href="#">
                          <span style="font-weight: bold;">Monitoring</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a style="font-weight: bold;" href="{% url 'daily-checks' %}">Daily Checks</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'heat_sign_monitoring' %}">Heat Signs Monitoring</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'pregnancy_monitoring' %}">Pregnancy Monitoring</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- END Dairy Production -->

                <!-- 2. Beef Production Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Beef Production</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'calving-record' %}">Calving</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'calf' %}">Calf Registration</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'new_animal' %}">Register new animal</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'livestock' %}">Livestock Inventory Form</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'culling' %}">Culling</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'dead_animal' %}">Pasture Management</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Approved Beef Farms</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Monitoring</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Farm Biosecurity</a></li>
                    </ul>
                  </div>
                </li>
                <!-- END Beef Production -->

                <!-- 3. Sheep Production Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Sheep Production</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Sheep Registration</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Lambing Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Mating Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Mortality Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Growth and Weight Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Feeding Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Sheep Sales Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Wool Production Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Flock Inventory Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Sheep Purchase Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Farm Biosecurity Record</a></li>
                    </ul>
                  </div>
                </li>
                <!-- END Sheep Production -->

                <!-- 4. Goat Production Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Goat Production</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Goat Registration</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Kidding Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Mating Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Mortality Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Growth and Weight Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Feeding Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Goat Sales Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Milk & Fibre Production</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Herd Inventory Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Goat Purchase Record</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="#">Farm Biosecurity Record</a></li>
                    </ul>
                  </div>
                </li>
                <!-- END Goat Production -->

                <!-- 5. Poultry Production Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Poultry Production</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                       <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span style="font-weight: bold;">Hatchery Records</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Hatchery Information</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Eggs Incubation</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Chicks Information</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Chicks Sales</a></li>
                            
                          </ul>
                        </div>
                      </li>
                      <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span style="font-weight: bold;">Chick Management</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Flock Registration</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Brooding Management</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Daily Chick Monitoring</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Mortality</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Weight Monitoring</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Treatment Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Vacination Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Feeding Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Chick Sale Record</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="">Biosecurity Record</a></li>
                          </ul>
                        </div>
                      </li>

                      <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span style="font-weight: bold;">Layers Management</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_flock_identification_view' %}">Flock Identification</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_daily_egg_production_view' %}">Daily Egg Production</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_feed_record_view' %}">Feed Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_mortality_record_view' %}">Mortality Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_culling_record_view' %}">Culling Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_vaccination_record_view' %}">Vaccination Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_treatment_record_view' %}">Treatment Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_sales_record_view' %}">Sales Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_income_record_view' %}">Income Ledger</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'layer_biosecurity_log_view' %}">Biosecurity Logs</a></li>
                          </ul>
                        </div>
                      </li>

                      <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span style="font-weight: bold;">Broilers Management</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_flock_identification_view' %}">Flock Identification</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_daily_mortality_view' %}">Daily Mortality</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_feed_consumption_view' %}">Feed Consumption</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_treatment_record_view' %}">Treatment Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_vaccination_record_view' %}">Vaccination Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_growth_performance_view' %}">Growth Performance</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_environmental_record_view' %}">Environmental Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_water_consumption_view' %}">Water Consumption</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'broiler_sales_record_view' %}">Sales Records</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- END Poultry Production -->

                <!-- Fish Production Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Fish Production</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'fish_record' %}">Fish Stocking Records</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'feeding_record' %}">Feeding Records</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'mortality_record' %}">Mortality Records</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'growth_monitoring_record' %}">Growth Monitoring</a></li>
                    </ul>
                  </div>
                </li>

                <!-- Companion Animals Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Companion Animals</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="">Dogs</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="">Cats</a></li>
                    </ul>
                  </div>
                </li>
                <!-- END Companion Animals -->

                <!-- Veterinary Records Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Veterinary Records</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span style="font-weight: bold;">Vet Officer Records</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'ai-view' %}">AI Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'deworming-view' %}">Deworming Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'consultation-view' %}">Farm Consultation Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'postmortem-view' %}">Post Mortem Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'pregnancy-view' %}">Pregnancy Diagnosis Record</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'referral-view' %}">Referral Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'surgery-view' %}">Surgery Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'clinical-view' %}">Clinical Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'vaccination-view' %}">Vaccination Records</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'assesment-view' %}">Livestock Examination</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'ui-irrigation-view' %}">Uterine Irrigation</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'emergency-care-view' %}">Emergency Care</a></li>
                          </ul>
                        </div>
                      </li>

                      <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span style="font-weight: bold;">Laboratory Services</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'collection-view' %}">Sample Collection</a></li>
                            <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'processing-view' %}">Sample Processing</a></li>
                          </ul>
                        </div>
                      </li>

                      <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span style="font-weight: bold;">Veterinary Bills</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a style="font-weight: bold;" href="{% url 'field_quotation_view' %}">Field Quotation</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'invoiceview' %}">Invoice</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'vet-billing-view' %}">Receipt</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- END Veterinary Records -->

                <!-- Employees Records Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Employees Records</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'employee-record' %}">Employee Records</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'salary-record' %}">Salary Records</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="">Leave Records</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="">Training Records</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="">Dismissal Record</a></li>
                    </ul>
                  </div>
                </li>
                <!-- END Employees Records -->

                <!-- Farm Inventory Module -->
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Farm Inventory</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'drug_inventory_record' %}">Drugs</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'feed_inventory_record' %}">Feeds</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'livestock_record' %}">Livestock</a></li>
                      <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'asset_record' %}">Assets</a></li>
                    </ul>
                  </div>
                </li>

                <!-- Financial Records Module -->
                <li class="sidebar-dropdown">
                  <a href="#">
                    <span>Financial Records</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span>Source Of Income</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li class="sidebar-dropdown">
                              <a href="#" style="font-weight: bold;">
                                <span>Milk Sales</span>
                              </a>
                              <div class="sidebar-submenu">
                                <ul>
                                  <li><a style="font-weight: bold;" class="dropdown-item" href="{% url 'buyer' %}">Register Buyer</a></li>
                                  <li><a style="font-weight: bold;" href="{% url 'sales_of_milk' %}">Milk Supply</a></li>
                                  <li><a style="font-weight: bold;" class="dropdown-item" href="{% url 'payments' %}">Payments</a></li>
                                </ul>
                              </div>
                            </li>
                            <li><a style="font-weight: bold;" class="dropdown-item" href="{% url 'animal_sales' %}">Sales Of Stock</a></li>
                          </ul>
                        </div>
                      </li>

                      <li class="sidebar-dropdown">
                        <a href="#" style="font-weight: bold;">
                          <span>Expenses</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                            <li><a style="font-weight: bold;" href="{% url 'bills' %}">Veterinary Bills</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'archaricides' %}">Acaricides</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'hygiene' %}">Dairy Hygiene</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'salaries' %}">Salaries</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'feeds' %}">Dairy Feeds</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'dairy_equipment' %}">Dairy Equipment</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'drugs' %}">Veterinary Drugs</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'minerals' %}">Livestock Minerals</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'insurance' %}">Livestock Insurance</a></li>
                            <li><a style="font-weight: bold;" href="{% url 'other-expenses-view' %}">Other Expenses</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <!-- END Farm Records (Animal Records Section Container Close) -->

          <!-- Visits Section -->
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-list"></i>
              <span style="font-weight: bold;">Farm Visits And Trainings</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'farm_visit_record' %}">Farm Visit</a></li>
              </ul>
            </div>
          </li>

          <!-- Practitioners Section -->
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-list"></i>
              <span style="font-weight: bold;">Veterinary Practitioners</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li><a href="{% url 'vet-list' %}">All Vets</a></li>
              </ul>
            </div>
          </li>

          <!-- Consultation Section -->
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-graduation-cap"></i>
              <span style="font-weight: bold;">Vet Consultation Services</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li><a style="font-weight: bold;" href="{% url 'client-request' %}">Vet Request</a></li>
                <li><a style="font-weight: bold;" href="{% url 'vet_judgment_view' %}">Vet Judgements</a></li>
              </ul>
            </div>
          </li>

          <!-- Cooperative Section -->
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-list"></i>
              <span style="font-weight: bold;">Dairy Cooperative Services</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li><a style="font-weight: bold;" href="">Registration Details</a></li>
                <li><a style="font-weight: bold;" href="">Daily Milk Supply</a></li>
                <li><a style="font-weight: bold;" href="">Current Milk Price</a></li>
                <li><a style="font-weight: bold;" href="">Input Supplies</a></li>
                <li><a style="font-weight: bold;" href="">Check in off deduction</a></li>
                <li><a style="font-weight: bold;" href="">Payments(Gross pay deduction)</a></li>
              </ul>
            </div>
          </li>

          <!-- Resources Section -->
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-link"></i>
              <span style="font-weight: bold;">Learning Resources</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span style="font-weight: bold;">Quick Links</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a style="font-weight: bold;" href="https://agritech.tnau.ac.in/expert_system/cattlebuffalo/Calf%20management.html">Calf Management Experts</a></li>
                      <li><a style="font-weight: bold;" href="https://agritech.tnau.ac.in/animal_husbandry/animhus_cattle_care&management.html">Animal Husbandry Experts</a></li>
                      <li><a style="font-weight: bold;" href="https://mkulimatoday.com/">Mkulima Today</a></li>
                      <li><a style="font-weight: bold;" href="https://practicaldairytrainingcentre.com/#:~:text=Dairy%20Management%20Course,and%20more">Practical Dairy</a></li>
                      <li><a style="font-weight: bold;" href="https://www.infonet-biovision.org/">Infonet Biovision</a></li>
                    </ul>
                  </div>
                </li>
                <li><a style="font-weight: bold;" href="#">Videos And Tutorials</a></li>
                <li><a style="font-weight: bold;" href="{% url 'notes' %}">PDF NOTES</a></li>
                <li><a style="font-weight: bold;" href="{% url 'quiz' %}">Test Your Knowledge</a></li>
              </ul>
            </div>
          </li>

          <!-- Slaughterhouse Section -->
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-balance-scale"></i>
              <span>Slaughterhouse Management</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li><a style="font-weight: bold;" href="{% url 'slaughterhouse' %}">Register Slaughterhouse</a></li>
                <li><a style="font-weight: bold;" href="{% url 'butcher' %}">Butchers Details</a></li>
                <li><a style="font-weight: bold;" href="{% url 'daily-kills-view' %}">Daily Kills</a></li>
                <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'employee' %}">Employees</a></li>
                <li><a style="font-weight: bold;" href="{% url 'hides-skins-record' %}">Hides & Skins Records</a></li>

                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span>Slaughterhouse Hygiene</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a style="font-weight: bold;" href="{% url 'slaughterhouse-hygiene-page' %}">Slaughterhouse Hygiene</a></li>
                    </ul>
                  </div>
                </li>

                <li class="sidebar-dropdown">
                  <a href="#" style="font-weight: bold;">
                    <span>Management Records</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a style="font-weight: bold;" href="{% url 'management-committee' %}">Management Committees</a></li>
                    </ul>
                  </div>
                </li>

                <li><a style="font-weight: bold;" href="{% url 'slaughterhouse-assets-page' %}">Slaughterhouse Assets</a></li>
              </ul>
            </div>
          </li>
       
          <!-- Logout Action Item -->
          <li>
            <a href="{% url 'logout' %}">
              <i class="fa fa-power-off" style="font-size:28px;color:red"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu -->
  
  
  </nav>
<style>
  .sidebar-wrapper span {
    font-weight: bold;
  }
</style>