{% extends 'vet/base.html'  %}

{% load static %}

{% block content %}

    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background: url(static/vet/assets/img/slide/slide-1.jpg)">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">Welcome to <span>SoinVet</span></h2>
                  <p class="animate__animated animate__fadeInUp">We value and care for the health of your livestock.</p>
                  <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                </div>
              </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background: url(static/vet/assets/img/slide/slide-2.jpg)">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated fanimate__adeInDown">Poultry <span>Farming</span></h2>
                  <p class="animate__animated animate__fadeInUp">We deliver to full of our knowledge and conciousness about keeping  and caring for Poultry.</p>
                  <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                </div>
              </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background: url(static/vet/assets/img/slide/slide-3.jpg)">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">Pet<span>Care</span></h2>
                  <p class="animate__animated animate__fadeInUp">Trust a pet and it will fully trust you,thats why we care for your pets.</p>
                  <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                </div>
              </div>
            </div>

            <!-- Slide 4 -->
            <div class="carousel-item" style="background: url(static/vet/assets/img/slide/slide-4.jpg)">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated fanimate__adeInDown">livestock <span>Farming</span></h2>
                  <p class="animate__animated animate__fadeInUp">We deliver to full of our knowledge and conciousness about keeping  and caring for Poultry.</p>
                  <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= Featured Section ======= -->
      <section id="featured" class="featured">
        <div class="container">

          <div class="row">
            <div class="col-lg-4">
              <div class="icon-box">
                <i class="icofont-computer"></i>
                <h3><a href="">Vision</a></h3>
                <p>To provide you with the highest quality of veterinary services. We have high expectations of ourselves, so we aim to do the very best for you and your animal.</p>
              </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="icofont-image"></i>
                <h3><a href="">Mision</a></h3>
                <p>To provide excellent veterinary service by utilizing the highest standard of care and staying abreast of the most recent advancements in our field.</p>
              </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="icofont-tasks-alt"></i>
                <h3><a href="">motto</a></h3>
                <p>Comprehensive care with a personal touch.</p>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Featured Section -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'vet/assets/img/about.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Soin Veterinary.</h3>
              <p class="font-italic">
                Welcome to Soin Veterinary. We provide an ideal environment for both veterinary professionals and farmers to save their records. Our clients' satisfaction is our priority. The records saved are accessible at your own convenient time and designed in PDF format for printing.
  
  Our system is incorporated with learning sections where veterinary practitioners and farmers learn at their own pace.
  
  Your information is safe and only maintained as per the terms of service and privacy policy.
  
              </p> 
              
              
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Clients Section ======= -->

          <!DOCTYPE html>
<html lang="en">


<body>

  <!-- End Header --><!DOCTYPE html>
<html lang="en">


<body>

  <!-- End Header -->
          <body>
          
            <!-- End Header --><!DOCTYPE html>
<html lang="en">


<body>

  <!-- End Header -->

      </section><!-- End Clients Section -->

    </main><!-- End #main -->

 {% endblock content %}   
