
{% for form in forms %}
<div class="container">
    <div class="card">
        <h2 class="text-center"> Vaccination pdf  </h2>
        <div class="card-header">      
            <h3>DATE : {{form.vet_form.report_created_on}}</h3>
        </div>

        <div class="list-group">
            <p>Vet Officer Name: {{form.vet_form.vet_username}} </p>
            <p>Farmer Name {{ request.user }}</p>     
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name of the cow or identification number of the cow</td>
                    <td>{{ form.Name_of_the_cow  }}</td>
                <tr>
                <tr>
                    <td>Time of heat sign</td>
                    <td>{{ form.time_of_heat_sign }}</td>
                </tr>
                <tr>
                    <td>Time of insemination</td>
                    <td>{{ form.time_of_inseminatio }}</td>
                </tr>
                <tr>
                    <td>Date of insemination</td>
                    <td>{{ form.date_of_insemination }}</td>
                </tr>
                <tr>
                    <td>Nature of breeding</td>
                    <td>{{ form.nature_of_the_breeding }}</td>
                </tr>
                <tr>
                    <td>Sire`s name</td>
                    <td>{{ form.sire_name }}</td>
                </tr>
                <tr>
                    <td>Sire origin</td>
                    <td>{{ form.sire_origin }}</td>
                </tr>
                <tr>
                    <td>Bull code</td>
                    <td>{{ form.bull_code }}</td>
                </tr>
                <tr>
                    <td>Sex of the calf born</td>
                    <td>{{ form.get_sex_of_the_calf_born_display }}</td>
                </tr>
                <tr>
                    <td>Date of birth</td>
                    <td>{{ form.date_of_birth }}</td>
                </tr>
                <tr>
                    <td>Nature of birth</td>
                    <td>{{ form.get_nature_of_birth_display }}</td>
                </tr>
                <tr>
                    <td>Number of repeat</td>
                    <td>{{ form.number_of_repeat }}</td>
                </tr>
                <tr>
                    <td>Abortion rate</td>
                    <td>{{ form.abortion_rate }}</td>
                </tr>
                <tr>
                    <td>reason for abortion</td>
                    <td>{{ form.reason_for_the_cause_of_abortion }}</td>
                </tr>   
                <tr>
                    <td>Breed used</td>
                    <td>{{ form.breed_used }}</td>
                </tr>
                <tr>
                    <td>Source of the semen</td>
                    <td>{{ form.source_of_semen }}</td>
                </tr>
                <tr>
                    <td>Date of repeat check</td>
                    <td>{{ form.date_of_repeat_checked }}</td>
                </tr>
                <tr>
                    <td>Date of pregnancy</td>
                    <td>{{ form.date_of_pregnancy_diagnosis }}</td>
                </tr>
                <tr>
                    <td>expected date of calving</td>
                    <td>{{ form.expected_date_of_calving }}</td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td>{{ form.Comment }}</td>
                </tr>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </tfoot>
    </table>
    </div>
</div>
{% endfor %}
